node_modules
*.html
*.dem
*.env
*.db
dist
build
*.mp4
*.m4a
*.png
!hud-positions.png
*.jpg
*.svg
*.wav
*.txt
*.mkv
*.zip
*.ass
*.exe
*.vbs
*.bat
service-account.json
hlae/
timestamps.json
.DS_Store
work/
clips/